// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}
.alert-warning {
  background-color: #f68e00;
  color: $secondary-text-color;
}
.search-result-container {
  text-align: center;
}
.search-form {
  display: inline-block;
  padding-top: 10px;


  input {
    &.form-control:not(:first-child) {
      font-size: 14px;
      color: $primary-text-color;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      padding: 23px 20px;
      border: 1px solid #f4f4f4;
    }
  }
  .input-group-prepend {
    .btn {
      background-color: #f5d800;
      border-color: #f5d800;
      color: $primary-text-color;
      text-transform: uppercase;
      font-weight: 600;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      padding: 10px 29px;
    }
  }
}
.seearch-form-expand {
  position: relative;
  border-radius: 10em;

  i {
    top: 50%;
    transform: translate(0,-50%);
    z-index: 3;
    position: absolute;

  }
  input {
    outline: none;
  }
  input[type=search] {
    position: relative;
    border: 0;
    padding: 0;
    border-radius: 10em;
    background-color: transparent;
    z-index: 5;
    transition: all .5s;
    width: 15px;
    color: transparent;
    cursor: pointer;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-size: 100%;

    &:focus, &:hover {
      width: 130px;
      border-color: #66CC75;
      box-shadow: 0 0 5px rgba(109,207,246,.5);
      color: #000;
      cursor: auto;
      padding-left: 22px;
      background-color: #fff;

      &+i {
        transition: all .5s;
        z-index: 9;
        color: red;
        left: 6px;
      }
    }
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none;
  }

  input:-moz-placeholder {
    color: transparent;
  }
  input::-webkit-input-placeholder {
    color: transparent;
  }
}