.section-subpage-banner {
  padding: 40px 0;
  height: 200px;
  display: flex;
  align-items: center;
  text-align: center;

  &:before {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(225,47,20,1)), color-stop(100%, rgba(245,216,0,1))); /* safari4+,chrome */
    background: linear-gradient(270deg, rgba(245,216,0,1) 0%, rgba(225,47,20,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e12f14', endColorstr='#f5d800',GradientType=1 ); /* ie6-9 */
    opacity: .95;
  }
  * {
    color: $secondary-text-color;
  }
  h1 {
    font-weight: 700;
    font-size: 50px;
  }
}
.section-default-page {

  h2 {
    color: #ff4d00;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
  }
  p {
    font-weight: 300;
    line-height: 1.9;
    margin-bottom: 10px;

    & + h2 {
      padding-top: 15px;
    }
  }

  img {
    &[style*="float:right"], &.alignright {
      margin-left: 48px;
    }
  }
}
.section-newsletter {
  padding: 42px 0 33px;
}

@include media-breakpoint-down(lg) {
  .section-default-page {
    img {
      &.alignright {
        float: none;
        margin: 0 auto 20px;
        display: block;
        width: 100%;
      }
    }
  }
}