.post-list-inline-bordered {
  border: 2px solid #f1f1f1;
}
.excerpt {
  margin-bottom: 20px;
}
.link-read-more {
  text-transform: uppercase;
  font-weight: 600!important;
  align-items: center;
  display: flex;
  color: #e12f14;

  &:hover, &:focus, &:active {
    color: #f68e00;
  }
}
.content-with-sidebar {
  .post-list-inline {
    &-media {
      margin-bottom: 20px;
      padding: 40px;

      .meta-list {
        margin-top: -5px;
        padding-left: 0;

      }
      p {
        line-height: 1.8;
      }
    }
  }
}

@media (max-width: 320px) {
  .content-with-sidebar {
    .post-list-inline {
      &-media {
        margin-bottom: 20px;
        padding: 20px;
      }
    }
  }
}