.archive-hormones-content {
  img {
    max-width: 100%;

    &.alignright {
      margin-left: 70px;
    }
  }

}
.archive-hormones-content-loop {
  background-color: #f4f4f4;
  text-align: center;
  .card-title {
    color: $secondary-text-color;
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    max-width: 265px;

    a {
      color: #fff;
      font-size: 35px;

      &:hover, &:focus {
        color: #e12f14;
      }
    }
  }
  .card-deck {
    text-align: left;
    .card {
      flex: 0 1 30.67%;
      margin-bottom: 30px;
      border: 0;
      color: $primary-text-color;
      border-radius: 7px;
      overflow: hidden;
      box-shadow: 0 2px 18px rgba(0,0,0,.04);

      &-header {
        border: 0;
        min-height: 136px;
        display: flex;
        align-items: center;
        background: #f68e00 url("../images/hormones/hormones.png") no-repeat 241% 52%/73%;
      }

      &-body {
        display: flex;
        flex-direction: column;
        padding: 25px 25px 32px;
      }
      &-link {
        margin-top: auto;
        color: #e12f14;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: 600;
        &:hover, &:focus {
          color: #f68e00;
        }
        i {
          margin-right: 10px;

        }
      }
    }
  }
  .pagination-default {
    padding-top: 20px;
  }
}
.pagination-default {
  margin: 0 -3px;
  display: inline-block;
  width: auto;

  .page-numbers {
    min-width: 30px;
    height: 35px;
    border-radius: 0;
    background-color: transparent;
    color: #f68e00;
    border: 2px solid #f68e00;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 5px;
    width: auto;
    text-transform: uppercase;
    margin: 0 3px;
    display: inline-block;
    &.current {
      border-color: #f68e00;
      background-color: #f68e00;
      color: $secondary-text-color;
    }

    &.prev,&.next {
      padding: 5px 15px;
    }
    &:hover, &:focus, &:active, &:click {
      border-color: #f68e00;
      background-color: #f68e00;
    }
  }
}
@include media-breakpoint-down(lg) {
  .archive-hormones-content {
    img {
      &.alignright {
        float: none;
        margin: 0 auto 20px;
        display: block;
        width: 100%;
      }
    }
  }
  .archive-hormones-content-loop {
    .card-deck {
      .card {
        flex: 0 1 30.2%;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .archive-hormones-content-loop {
    .card-deck {
      .card {
        flex: 0 1 45.83%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .archive-hormones-content-loop {
    .card-deck {
      .card {
        flex: 0 1 44.44%;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .archive-hormones-content-loop {
    .card-deck {
      .card {
        flex: 0 1 100%;
      }
    }
  }
}
