.section-board-directors {
  .content-intro {
    max-width: 635px;
    margin: 0 auto 75px;
    text-align: center;

    h2 {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p {
      font-weight: 300;
    }
  }
  .card-board-directors {
    border: 0;
    position: relative;
    flex: 0 1 22.48%;
    margin-bottom: 30px;

    * {
      color: $secondary-text-color;
    }
    &:hover {
      .card-body {
        position: relative;
        bottom: 48px;
      }
      .card-footer {
        display: block;

      }
    }
    .card {

      &-body {
        background-color: #f68e00;
        text-align: center;


      }
      &-img-top {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
      }

      &-title, &-meta {
        font-weight: 300;
        text-transform: capitalize;
        font-size: 20px;
      }
      &-title {
        margin-bottom: 5px;
        & + .card-subtitle {
          margin-top: 7px;
        }
      }
      &-meta {
        margin-bottom: 15px;
      }
      &-subtitle {
        color: #f5d800;
        font-size: 17px;
        text-transform: uppercase;
        font-weight: 600;

      }
      &-footer {
        text-align: center;
        background-color: #f67900;
        border: 0;
        border-radius: 0 0 7px 7px;
        text-transform: uppercase;
        font-weight: 500;
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        &:hover, &:active, &:focus {
          text-decoration: none;
          color: #f5d800;

          i {
            color: #f5d800;
          }
        }
        i {
          vertical-align: middle;
          margin-right: 8px;
        }
      }
    }
  }
}


@include media-breakpoint-down(lg) {
  .section-board-directors {
    .card-board-directors {
      flex: 0 1 21.87%;
    }
  }
}
@include media-breakpoint-down(md) {
  .section-board-directors {
    .card-board-directors {
      flex: 0 1 45.83%;
    }
  }
}
@include media-breakpoint-down(sm) {
  .section-board-directors {
    .card-board-directors {
      flex: 0 1 100%;
    }
  }
}