body {
  &.post-type-archive-books {
    .post-list-inline-details {
      p {
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        max-width: 400px;
        height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
        margin: 0 auto;
        font-size: $font-size;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 10px;
      }
    }
  }
}
.btn-warning {
  & + .row{
    .col-pagination {
      justify-content: center;
    }
  }
}

.content-with-sidebar {
  display: flex;
  justify-content: space-between;

  .content-sidebar {
    min-width: 275px;
    margin-right: 60px;

    .widget {
      h2 {
        background-color: #f68e00;
        color: $secondary-text-color;
        font-weight: 700;
        font-size: 20px;
        padding: 12px 20px;
        margin: 0;
      }
      ul {
        @extend .list-unstyled;
        li {
          background-color: #f4f4f4;

          &:not(:last-child) {
            border-bottom: 1px solid #e6e4e5;
          }

          a {
            display: block;
            padding: 12px 20px;
            color: $primary-text-color;

            &:hover, &:focus, &:active {
              color: #ff4d00;
            }
          }
        }
      }
    }

  }

  .content-main {
    width: 100%;

    .btn {
      text-transform: uppercase;
      color: #f34f11;
      width: 100%;
      padding: 10px 20px;
      font-weight: 600;
    }
  }
}


.post-list-inline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  &-img {
    margin-right: 25px;
    box-shadow: 0 2px 18px rgba(0,0,0,.2);
    overflow: hidden;
    border-radius: 5px;
    min-width: 150px;
    max-width: 150px;
    height: 213px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-details {
    h2 {
      font-size: 22px;
    }

  }

  .meta {
    font-weight: 300;
    margin-bottom: 7px;
    display: flex;

    a {
      text-transform: capitalize;
      font-weight: 300;
      font-size: 16px;
      color: inherit;
      margin-left: 5px;
    }
  }
  a {
    text-transform: uppercase;
    font-weight: 600;
    align-items: center;
    display: flex;

    i {
      margin-right: 5px;
      font-size: 14px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .content-with-sidebar {
    .content-sidebar {
      min-width: 220px;
      margin-right: 25px;
    }
  }
}
@include media-breakpoint-down(md) {
  .content-with-sidebar {
    .content-main {
      .btn {
        font-size: 14px;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .content-with-sidebar {
    display: flex;
    flex-direction: column;

    .content-sidebar {
      min-width: 100%;
      margin-right: 0;
      order: 2;
    }
    .content-main {
      order: 1;
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 320px) {
  .post-list-inline {
    flex-direction: column;
  }
  .post-list-inline-img {
    margin: 0 auto 20px;
  }
  .post-list-inline-details {
    text-align: center;
    .meta {
      display: inline-flex;
    }
    a {
      justify-content: center;
    }
  }
}