body.events-list {
  &.tribe-bar-is-disabled {
    #tribe-events-content-wrapper {
      @extend .container;
    }
  }
}

.tribe-events-title-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.row-tribe-events-loop {
  .col-pagination {
    justify-content: flex-start;
  }
  > div {
    display: flex;
    margin-bottom: 25px;
    justify-content: center;
  }
  .card {
    border-radius: 10px;
    overflow: hidden;
  }
  .card, .card-footer {
    border-color: #f1f1f1;
  }
  .tribe-events-event-image {
    width: 100%;
    margin: 0;
    a {
      display: block;
    }
  }
  .tribe-events-list-event-title {
    margin-bottom: 8px;
    max-width: 370px;
  }
  .tribe-event-schedule-details {
    max-width: 370px;
  }
  .tribe-event-url {
    color: $primary-text-color;
    font-weight: 600;
    line-height: 1.2;
    display: block;
  }
  .tribe-events-venue-details {
    margin: 0 0 7px;
  }
  .meta-location {
    font-style: normal;
    display: flex;
    align-items: center;
  }
  .schedule-label {
    color: #e12f14;
    display: block;
    font-weight: 600;
  }
  .tribe-event-date-start, .tribe-event-date-end, .tribe-event-time, .meta-location {
    display: inline-block;
    font-weight: 300;
  }
  .tribe-events-read-more {
    background-color: #f68e00;
    color: #fff;
    border-top: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding: 20.5px 0;
    @extend .card-footer;
    i {
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}

.search-filter {
  label,.form-group {

  }
  form {
    display: flex;
    align-items: center;

    >* {
      margin: 0;
    }
  }
  label {
    margin-right: 10px;
    font-weight: 600;
  }
  .custom-select {
    margin-right: 15px;
    height: 35px;
    &:first-child {
      max-width: 134px;

    }

    &:nth-child(2) {
      max-width: 123px;

    }
  }
  .form-group {
    display: flex;
    justify-content: space-between;
  }
  .btn {
    padding: 4px 20px;
    display: flex;
    align-items: center;
  }
}

@include media-breakpoint-down(md) {
  .row-tribe-events-loop {
    .tribe-events-venue-details {
      border: 0;
      padding: 0;
    }
    .tribe-event-schedule-details {
      padding: 0;
    }
  }
  .tribe-events-title-bar {
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tribe-is-responsive {
    &.tribe-mobile {
      .tribe-events-page-title {
        margin: 0 0 20px;
      }
    }
  }

  .search-filter {
    .custom-select {


      &:first-child {

      }

      &:nth-child(2) {

      }
    }
    .form-group {

    }
    .btn {

    }
  }
}
@include media-breakpoint-down(sm) {
  .tribe-events-title-bar {
    display: block;
    margin-bottom: 25px;

    .search-filter {
      text-align: center;
      label {
        margin: 0 0 10px;
      }
      form {
        display: inline-block;
        text-align: center;
      }
      .form-group {
        select {
          margin: 0 8px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

}