.section-bg-image-color {
  background: no-repeat center center/cover;
  position: relative;
  &:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: inherit;
    opacity: .9;
  }
  .container {
    position: relative;
    z-index: 1;
  }
}

.section-home-banner {
  .owl-home-carousel {
    &-item {
      display: flex;
      padding: 60px 0;
      background: #1d1d1d no-repeat center center/cover;
      height: 460px;
      color: $secondary-text-color;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: inherit;
        opacity: .35;
      }
      .extra-bg {
        position: absolute;
        top: 50%;
        transform: translate(96%, -50%);
        height: 405px;
        width: auto;
      }
      * {
        color: inherit;
      }
    }
    .container {
      display: flex;
      align-items: flex-end;
      position: relative;
      z-index: 1;

    }
    h1,.h1 {
      margin-bottom: 60px;
      font-weight: 600;
      line-height: 1.3;
      position: relative;
      z-index: 1;
    }

    a {
      &:hover, &:focus, &:active {
        color: #f98517;
      }
    }
    .owl {
      &-dots {
        @extend .container;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 60px;
        padding-left: 50px;
      }

      &-dot {
        &:not(:last-child) {
          margin-right: 15px;
        }
        span {
          display: block;
          width: 11px;
          height: 11px;
          border-radius: 50%;
          background-color: $white;
        }

        &.active {
          span {
            background-color: #f98517;
          }
        }
      }
    }
    .content {
      max-width: 470px;
      margin-left: 35px
    }
  }
}
.section-welcome {
  background-color: $primary-background-color;

  h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 15px;
    margin-top: 50px;
  }
  .content {
    &-l {
      padding-right: 20px;
    }
    &-r {
      padding-left: 30px;
      img {
        margin-top: 30px;
        margin-left: 30px;
        max-width: 65%;
      }
    }
  }
  .btn {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding: 11.5px 24px;
  }
}
.section-updates {
  .content {
    &-block {
      color: $secondary-text-color;
      text-align: center;
      position: relative;
      background: no-repeat center/cover;
      /*width: 368px;
      height: 304px;*/
      width: 326px;
      height: 264px;
      display: flex;
      padding: 20px;
      &:hover {
        &:before, .content-text:before, .content-text-p {
          transition: all .6s ease-in-out;
        }
        &:before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245,216,0,1)), color-stop(100%, rgba(225,47,20,1))); /* safari4+,chrome */
          background: linear-gradient(0deg, rgba(225,47,20,1) 0%, rgba(245,216,0,1) 100%); /* w3c */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d800', endColorstr='#e12f14',GradientType=0 ); /* ie6-9 */
          opacity: .9;

        }
        .content-text {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          padding: 0 10px;
          z-index: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border: 1px solid #fff;
          }

          p {
            display: block;
          }
        }
      }

      &:before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245,216,0,1)), color-stop(100%, rgba(225,47,20,1))); /* safari4+,chrome */
        background: linear-gradient(0deg, rgba(225,47,20,1) 0%, rgba(245,216,0,1) 100%); /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d800', endColorstr='#e12f14',GradientType=0 ); /* ie6-9 */
        opacity: .9;
      }
      &-item {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: center;
        .content-text {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          p {
            display: none;
          }
        }
      }
      * {
        color: inherit;
      }
      img {
        margin-top: 20px;
        margin-bottom: 15px;
      }
      h2 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 1.4;
      }
      p {
        font-weight: 300;
      }
    }
  }
}
.section-events {
  background: no-repeat center center/cover;
  position: relative;
  min-height: 428px;

  &:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
  h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .content {
    position: relative;
    z-index: 1;
  }

  .row {
    padding-top: 25px;
  }
}
.post-event {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 25px;

  &-l {
    background-color: #f5d800;
    min-width: 95px;
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    * {
      color: $ternary-text-color;
    }
  }
  &-r {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    width: 100%;
    justify-content: center;
    background-color: #fff;
    * {
      color: $primary-text-color;
    }
  }
  [class*="meta-"] {
    display: block;
  }

  h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 5px;
  }
  .meta {
    &-month {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 18px;
      line-height: 1;
    }
    &-date {
      font-weight: 700;
      font-size: 38px;
      line-height: 1;
    }
    &-location {
      font-weight: 300;
      font-size: 12px;

      i {
        font-size: 15px;
      }
    }
  }
}

@media (min-width: 1280px) {
  .section-home-banner {
    .owl-home-carousel-item {
      .extra-bg {
        transform: translate(52%, -50%);
      }
    }
  }
}
@media (min-width: 1366px) {
  .section-home-banner {
    .owl-home-carousel-item {
      .extra-bg {
        transform: translate(58%,-50%);
      }
    }
  }
}
@media (min-width: 1440px) {
  .section-home-banner {
    .owl-home-carousel-item {
      .extra-bg {
        transform: translate(64%,-50%);
      }
    }
  }
}
@media (min-width: 1680px) {
  .section-home-banner {
    .owl-home-carousel-item {
      .extra-bg {
        transform: translate(80%, -50%);
      }
    }
  }
}
@media (min-width: 1920px) {
  .section-home-banner {
    .owl-home-carousel-item {
      .extra-bg {
        transform: translate(96%, -50%);
      }
    }
  }
}

@media (min-width: 1440px) {
  .post-event-l {
    height: 135px;
  }
}

@media (max-width: 1366px) {
  .post-event-l {
    height: 135px;
  }
}

@include media-breakpoint-down(lg) {
  .section-home-banner {
    .owl-home-carousel-item {
      .extra-bg {
        transform: translate(48%,-50%);
        width: 622px;
        height: auto;
      }
    }
  }
  .section-updates {
    .content-block {
      width: auto;
    }
  }
  .post-event-l {
    height: 172px;
  }
  .section-welcome .content-r img {
    margin-left: 0;
    max-width: 100%;
  }
}

@include media-breakpoint-down(md) {
  .section-home-banner {
    .owl-home-carousel {
      .owl-dots {
        padding-left: 15px;
      }
      &-item {
        height: 360px;
        h1, .h1 {
          margin-bottom: 30px;
          font-size: 30px;
        }
        .content {
          margin-left: 0;
        }
        .extra-bg {
          transform: translate(58%,-50%);
          width: 458px;
          height: auto;
        }
      }
    }
  }
  .section-welcome {
    .content-l {
      padding: 0;
    }
    h2 {
      margin-top: 0;
      font-size: 23px;
    }
  }
  .section-updates {
    .content-block {
      margin-bottom: 28px;
    }
  }
  .post-event-l {

  }
}

@include media-breakpoint-down(sm) {
  .section-home-banner {
    .owl-home-carousel {
      &-item {
        height: 245px;
        h1, .h1 {
          font-size: 22px;
          margin-bottom: 20px;
        }
        .content {
          margin-left: 0;
        }
        .extra-bg {
          transform: translate(58%,-50%);
          width: 336px;
        }
      }
    }
  }
  .section-welcome {
    .content-l {
      margin-bottom: 30px;
    }
    .content-r {
      padding: 0;
    }
  }
  .post-event-l {
    height: 100px;
  }
}

@include media-breakpoint-down(xs){
  .section-home-banner {
    .owl-home-carousel {
      .owl-dots {
        bottom: 25px;
      }
      &-item {
        height: 230px;
        padding: 25px 0;
        h1, .h1 {
          font-size: 22px;
          margin-bottom: 20px;
        }
        .content {
          margin-left: 0;
        }
        .extra-bg {
          transform: translate(47%,-50%);
          width: 283px;
        }
      }
    }
  }
  .section-welcome {
    .content-block {

    }
  }
  .post-event-l {
    height: 112px;
  }
}

@media (max-width: 375px) {
  .section-home-banner {
    .owl-home-carousel {
      .owl-dots {
        bottom: 25px;
      }
      &-item {
        height: 185px;
        h1, .h1 {
          font-size: 18px;
          margin-bottom: 20px;
        }
        .content {
          margin-left: 0;
        }
        .extra-bg {
          transform: translate(47%,-50%);
          width: 265px;
        }
      }
    }
  }
  .post-event-l {
    height: 133px;
  }
}

@media (max-width: 320px) {
  .post-event-l {
    height: 180px;
  }
}









