.archive-thumbnail {
  text-align: center;

  img {
    @extend .img-fluid;
  }
}

.section-archive {

}
.col-pagination {
  display: flex;
  justify-content: flex-start;
}
.card {
  &-footer {
    &:hover, &:focus, &:active {
      background-color: $ternary-text-color;
    }
  }
}

.archive-loop {
  .row {
    >div {
      margin-bottom: 25px;
      display: flex;
      justify-content: center;

      &.col-12 {
        justify-content: flex-start;
      }
    }
  }

  .archive-thumbnail {

  }
  .card {
    border-radius: 10px;
    overflow: hidden;

    &-footer {
      background-color: #f68e00;
      color: #fff;
      border-top: 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      padding: 20.5px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        margin-right: 10px;
      }
      &:hover, &:focus, &:active {
        background-color: $ternary-text-color;
      }
    }
  }

}