#section-tribe-events-single {
  padding: 80px 0;
  margin: 0;
}
#tribe-events-content {
  padding: 0;
  margin: 0;
}
.tribe-events-single-with-sidebar {
  padding: 50px 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .tribe-events-single-main {
    h2 {
      color: #ff4d00;
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 25px;
    }
  }
}

.tribe-events-single-sidebar {
  min-width: 370px;
  margin-left: 80px;
  .tribe_events {
    background-color: #f4f4f4;
    padding: 35px;
  }
  h2 {
    font-size: 20px;
    position: relative;
    margin-bottom: 25px;
    font-weight: 600;

    &:before {
      content: '';
      height: 1px;
      background-color: #cfcfcf;
      width: 100%;
      position: absolute;
      right: 0;
      bottom: -10px;
    }
  }
  ul {
    @extend .list-unstyled;
    padding-left: 19px;
    li {
      position: relative;
      margin-bottom: 15px;
      padding-left: 15px;

      &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        border-radius: 50%;
      }
      &:before {
        top: 7px;
        left: -15px;
        background-color: #f67900;
        width: 11px;
        height: 11px;
      }
      &:after {
        top: 3px;
        left: -19px;
        width: 19px;
        height: 19px;
        border: 1px solid #f67900;
      }
      > * {
        color: $primary-text-color;
        display: inline-block;
        margin: 0;
        text-decoration: none;

        &:first-child {
          font-weight: 600;
          margin-right: 10px;
        }
        &:last-child {
          font-weight: 300;
        }
      }
    }
  }
}


.single-tribe_events {
  .tribe-events-venue-map {
    padding: 0;
    margin: 0;
    float: none;
    width: 100%;
    font-size: 0;
    border: 2px solid #cfcfcf;
    border-left: 0;
    border-right: 0;
    border-radius: 0;

    iframe {
      height: 380px;
    }
  }

}


@include media-breakpoint-down(md) {
  .tribe-events-single-with-sidebar {
    display: block;

    .tribe-events-single-sidebar {
      margin-top: 50px;
      margin-left: 0;
      min-width: 100%;
    }
  }

}


@include media-breakpoint-down(xs) {
  .tribe-events-single-with-sidebar {
    .tribe-events-single-sidebar {
      .tribe_events {
        padding: 30px;
      }
    }
  }
}