.section-single-post {
  .post-list-inline-img {
    min-width: 260px;
    min-height: 360px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .post-list-inline-details {

    h2 {
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 10px;
    }
    .meta {
      margin-bottom: 13px;
      display: flex;

      a {
        display: inline-flex;
        text-transform: capitalize;
        font-weight: 300;
        font-size: 16px;
        color: inherit;
        margin-left: 5px;
      }
    }
    p {
      line-height: 1.8;
      font-weight: 300;
    }
    ul {
      @extend .list-unstyled;

      li {
        font-weight: 300;

        span {
          color: #ff4d00;
          font-weight: 500;
        }
      }
    }
    .btn {
      display: inline-block;
      color: $secondary-text-color;
      width: auto;
      padding: 10px 30px;
      margin: 15px 0 0;
    }
  }
}
