.content-with-sidebar-left {
  .content {
    &-sidebar {
      margin-right: 0;
      margin-left: 60px;
    }

    &-main {
      * {
        font-weight: 300;
      }
      ul {
        list-style-type: disc;
        padding-left: 40px;
        li {

        }
      }
      h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
      }
      h1 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 20px;
      }

      h2 {
        font-size: 26px;
      }
      h3 {
        font-size: 24px;
      }
      h4 {
        font-size: 22px;
      }
      h5 {
        font-size: 20px;
      }
      h6 {
        font-size: 18px;
      }
      img {
        max-width: 100%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .content-with-sidebar-left {
    .content-sidebar {
      margin-left: 0;
    }
  }

}