.section-single-post {
  .post-list-inline-details {
    .meta-list {
      margin-top: -15px;
      margin-bottom: 25px;
      padding: 0;

      li {
        span {
          color: $primary-text-color;
          font-weight: 300;
        }
      }
    }
    .single-post-thumbnail {
      margin-bottom: 25px;
      width: 100%;
      height: auto;
    }
  }
}
