.footer-logo {
  img {
    max-width: 100%;
  }
}
.section-newsletter {
  &.section-bg-image-color{
    &:before {
      opacity: .4;
    }
  }

  * {
    color: $secondary-text-color;
  }
  .content {
    max-width: 560px;
    margin : 0 auto;
  }
  h2 {
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    line-height: 1.4;
  }
  input {
    font-size: 14px;
    color: $primary-text-color;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 23px 20px;
    border: 0;
  }
  form {
    max-width: 425px;
    margin: 0 auto;
    padding-top: 10px;

    .input-group-prepend {
      .btn {
        background-color: #f5d800;
        border-color: #f5d800;
        color: $primary-text-color;
        text-transform: uppercase;
        font-weight: 600;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        padding: 10px 29px;
      }
    }
  }
}
.section-footer {
  background-color: $primary-background-color;
  padding-bottom: 0;
  * {
    color: $primary-text-color;
    font-size: 15px;
  }

  .content {
    >.row {
      >div {
        &:first-child {
          a {
            margin-bottom: 15px;
            display: block;
          }
        }
        &:nth-child(2) {
          .content-block {
            margin-left: 40px;
          }
        }
      }
    }
  }
  h2 {
    margin-top: 15px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
  }
  ul {
    @extend .list-unstyled;
    li {
      text-transform: none;
      margin-bottom: 7px;
    }
  }
  .copyright {
    border: 1px solid transparent;
    border-top-color: #e5e5e5;
    padding: 15px 0;
    text-align: center;
    p {
      margin: 0;
    }
  }
}

.mc4wp-response {
  margin-top: 20px;
  text-align: center;
}

@include media-breakpoint-down(md) {
  .section-footer {
    .content {
      >.row {
        >div {
          &:nth-child(2) {
            .content-block {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .section-footer {
    .content {
      >.row {
        >div {
          .content-block {
            text-align: center;
          }
        }
      }
    }
  }
}