.top-header {
  background-color: $secondary-background-color;
  color: $secondary-text-color;
  position: absolute;
  left: 0;
  right: 0;

  * {
    color: inherit;
    font-weight: 300;
    font-size: 13px;
  }
  .container {
    position: relative;
    z-index: 1;
  }
  &-content {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
  }

  ul {
    margin: 0;
    font-size: 0;
  }
  .list-inline-item {

    span {
      margin-right: 20px;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:last-child {
      font-weight: 400;
      font-size: 15px;

      * {
        font-weight: inherit;
      }
      i {
        margin-right: 8px;
      }
    }
  }
}
.navbar-header {
  .navbar-brand {
    width: 380px;
    margin-top: 10px;
    margin-bottom: -19px;
    z-index: 99;
  }
  .expand {
    position: relative;
    top: -2px;
  }
  .navbar {
    padding: 4px 0;
    &-collapse {
      margin-top: 30px;
    }
    .navbar-main-menu {
      .nav-item {
        display: inline-flex;
        align-items: center;

        &:not(:last-child) {
          margin-right: 5px;
          &.active {
            .nav-link {
              color: #e12f14;
            }
          }
        }

        &:last-child {
          padding-left: 5px;
        }
        .nav-link {
          color: $primary-text-color;
          font-weight: 600;
          font-size: 17px;
          text-transform: uppercase;
          position: relative;
        }

        &:last-child {
          .nav-link {
            @extend .btn;
            @extend .btn-danger;
            border-radius: 50px;
            padding: 11.5px 22.5px;
            font-weight: 500;
            font-size: 14px
          }
        }
      }
      .dropdown-menu {
        margin-top: 0;

        .nav-item {
          display: block;
          margin: 0;

          &.active {
            .dropdown-item {
              color: #e12f14;
              &:active, &:hover {
                color: $secondary-text-color;
              }
            }
          }

          &:last-child {
            padding-left: 0;
          }
        }
        .dropdown-item {
          &:active, &:hover {
            background-color: #e12f13;
            color: $secondary-text-color;
          }
        }
      }
    }

  }
}
.expand {
  i {
    font-size: 8px;
    padding: 8px 0 8px 8px;
  }
}
.dropdown-toggle {
  &:after {
    display: none;
  }
}

@include media-breakpoint-up(xl) {
  .navbar-header {
    .navbar {
      .navbar-nav {
        .nav-item {
          &.dropdown:hover {
            .dropdown-menu {
              display: block;
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  .nav-primary {
    .navbar-toggler{
      margin-top: 33px;
    }
  }
  .navbar-header {
    .navbar {
      .navbar-main-menu {
        .nav-item {
          display: block;
          &:last-child {
            padding: 10px 0 0;

            .nav-link {
              border-radius: 0;
            }
          }
          .nav-link {
            padding: 10px;
            display: block;
            width: 100%;
          }
          &:not(:last-child) {
            margin: 0;
          }
        }
        .dropdown-menu {
          .nav-item {
            display: block;
          }
        }
      }
    }
    .navbar-collapse {
      margin: 0;
    }
  }
  .expand {
    position: relative;
    top: -1px;

    i {
      padding: 8px;
    }
  }
}

@media (max-width: 425px) {
  .top-header {
    position: relative;
  }

  .nav-primary {
    .navbar-toggler {
      margin-top: 0;
    }
    .navbar-brand {
      margin: 0;
      width: 285px;
    }
  }
}
@media (max-width: 424px) {
  .nav-primary {
    .navbar-brand {
      width: 210px;
    }
  }
}

@media (max-width: 320px) {
  .nav-primary {
    .navbar-brand {
      width: 190px;
    }
  }
}