.pagination{
	padding-top: 20px;
	text-align: center;
	margin: auto;
	clear: both;
	width: 100%;
	font-family: 'poppins', sans-serif;
	display: inline-block;

	.page-numbers{
		display: inline-block;
		padding: rem(12px) rem(8px);
		color: $secondary-text-color;
		border: 2px solid #f68e00;
		border-radius: 100%;
		background-color: #f68e00;
		font-size: rem(20px);
		line-height: rem(27px);
		white-space: nowrap;
		width: rem(53px);
		height: rem(53px);
		margin: rem(2px) rem(2px);
		font-weight: 400;

		&:hover, &:active, &:focus, &:active:focus{
			color: $secondary-text-color;
			border: 2px solid #e12e14;
			background-color: #e12e14;
		}

	}

	.current{
		color: $secondary-text-color;
		border: 2px solid #e12e14;
		background-color: #e12e14;
	}
	.pages{
		& ~ span, & ~ a{

		}
	}
	.nextpostslink{
		font-size: 20px;
		padding: rem(7px) rem(15px);
	}
}

