@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jqw43d');
  src:  url('../fonts/icomoon.eot?jqw43d#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?jqw43d') format('truetype'),
  url('../fonts/icomoon.woff?jqw43d') format('woff'),
  url('../fonts/icomoon.svg?jqw43d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-pointing-to-right-in-a-circle:before {
  content: "\e904";
}
.icon-magnifying-glass:before {
  content: "\e900";
}
.icon-phone-receiver:before {
  content: "\e901";
}
.icon-chevron-arrow-down:before {
  content: "\e902";
}
.icon-pin:before {
  content: "\e903";
}
