body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: $primary-font-family;
  font-size: 16px;
}

a {
  color: $secondary-background-color;
  &:hover, &:focus {
    text-decoration: none;
    color: $ternary-text-color;
  }
}
@include media-breakpoint-up(xl) {
  .container {
    max-width: 1190px;
  }
}